.second-screen{
    display: flex;
    align-items: center;
    background-color: $black;
    color: $light-white;
    min-height:100vh;

    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
        .second-screen-title{
            padding-left:60px ;
            flex: 1;
            h3{
                white-space: pre;
            }
        }
    }
    .second-screen-items{
        .second-screen-item{
            display: flex;
            align-items: center;
            padding: 5px 0px;
            border-top: 1px solid #F4EDDC;
            border-bottom: 1px solid #F4EDDC;
            font-size: 18px;
            button{
                border-radius: 40px;
                border: none;
                padding: 10px;
            }
        }
    }
}